name: colorSettings CI

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - '**.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Get Version                                   # Run the script that returns the version from `module.json`
      shell: bash
      id: get-version
      run: echo "::set-output name=version::$(node ./.github/workflows/get-version.js)"
    - name: Substitute Manifest and Download Links For Versioned Ones
      uses: microsoft/variable-substitution@v1
      with:
        files: 'module.json'
      env:
        download: https://github.com/${{github.repository}}/releases/download/${{steps.get-version.outputs.version}}/colorSettings.zip
    - run: zip -r ./colorSettings.zip module.json colorSetting.js css/ lib/ lang/ CHANGELOG.md                                      # Add folders/files here
    - name: Create Release                                # Create an additional release for this version
      id: create_versioned_release
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: false # set to false if you do not want to allow updates on existing releases
        name: Release ${{ steps.get-version.outputs.version }} # Use the version in the name
        draft: false
        prerelease: false
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: './module.json,./colorSettings.zip'                                                                 # don't forget to rename module zip thing
        tag: ${{ steps.get-version.outputs.version }} # Use the version as the tag
    - name: Create Release
      id: create_latest_release
      uses: ncipollo/release-action@v1
      if: endsWith(github.ref, 'master') # Only update the latest release when pushing to the master branch
      with:
        allowUpdates: true
        name: Latest
        draft: false
        prerelease: false
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: './module.json,./colorSettings.zip'                                                                 # don't forget to rename module zip thing
        tag: latest
    - name: Invoke push script
      uses: benc-uk/workflow-dispatch@v1
      with:
        workflow: Push To Deploy
        token: ${{ secrets.PERSONAL_TOKEN }}
